[package]
name = "rdf-fusion-bench"
version.workspace = true
authors.workspace = true
license.workspace = true
readme = "README.md"
repository = "https://github.com/tobixdev/rdf-fusion/tree/main/bench"
description = """
RdfFusion benchmarking tool
"""
edition.workspace = true
rust-version.workspace = true

[[bin]]
name = "rdf-fusion-bench"
path = "src/main.rs"
doc = false

[dependencies]
anyhow.workspace = true
async-trait.workspace = true
bzip2.workspace = true
chrono.workspace = true
clap = { workspace = true, features = ["derive"] }
csv.workspace = true
datafusion.workspace = true
futures.workspace = true
prettytable-rs.workspace = true
rand.workspace = true
rand_distr.workspace = true
rdf-fusion.workspace = true
reqwest.workspace = true
snmalloc-rs.workspace = true
tokio.workspace = true
zip-extract.workspace = true

[dev-dependencies]
codspeed-criterion-compat = { workspace = true, features = ["async_tokio"] }

[lints]
workspace = true

[[bench]]
name = "bsbm_explore"
harness = false

[[bench]]
name = "bsbm_business_intelligence"
harness = false

[[bench]]
name = "wind_farm"
harness = false