name: Run Continuous Benchmarks

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  # `workflow_dispatch` allows CodSpeed to trigger backtest
  # performance analysis in order to generate initial data.
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  benchmarks:
    name: Run Benchmarks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: Clean-up Disk Space
        uses: ./.github/actions/cleanup-disk-space

      - name: Setup rust toolchain
        uses: moonrepo/setup-rust@v1
        with:
          channel: 1.91.0
          cache-target: release

      - name: Install just
        uses: extractions/setup-just@v3

      - name: Run CI Setup
        run: just configure-toolchain-ci

      - name: Install Java
        run: |
          sudo apt-get update
          sudo apt-get install -y default-jre

      - name: Build the benchmark target(s)
        run: cargo codspeed build --profile profiling-nonlto

      - name: Prepare Benchmarks
        working-directory: bench
        run: |
          ../target/profiling-nonlto/rdf-fusion-bench prepare bsbm-explore --num-products 10000
          ../target/profiling-nonlto/rdf-fusion-bench prepare wind-farm --num-turbines 16

      - name: Run benchmarks
        uses: CodSpeedHQ/action@v4
        env:
          RDF_FUSION_SINGLE_THREAD_BENCH: "true"
        with:
          token: ${{ secrets.CODSPEED_TOKEN }}
          run: cargo codspeed run
          mode: 'instrumentation'
